<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Display Webcam Stream</title>
<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
<script defer src="{{ url_for('static', filename='face-api.min.js') }}"></script>
 
</head>
 
<body>
<!--   <div id="streamdiv">
   <video id="video" height="720" width="560" autoplay playsinline></video>
  </div> -->
  <div class="center-content page-container">
    <div style="position: relative" class="margin">
      <video id="video" autoplay muted playsinline></video>
      <canvas id="overlay" />
    </div>
  </div>
  <div class="controls">
    <button id="button">Get camera</button>
    <select id="select">
      <option></option>
    </select>
  </div>

  <script defer src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
